@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .form input{
  box-sizing: border-box;
  margin-right: 0;
  outline: none;
  border: none;
  height: 30px;
  border: 1px solid black;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  transition: .3s;
}

.container .form input:focus{
  border-color: rgba(0,0,0,.5);
}

.container .form button{
  height: 30px;
  margin-left: 0;
  position: relative;
  right: 5px;
  border: none;
  width: 50px;
  background-color: #ABABAB;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .cards{
  margin-top: 30px;
  width: 70%;
}

.container .cards .card{
  margin-top: 10px;
  width: 100%;
  height: 80px;
  background-color: #B7B7B7;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.container .cards .card .card-buttons{
  margin-top: auto;
}


.container .cards .card .card-buttons button{
  margin: 10px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .3s;
  background-image: url();
}

.container .cards .card .card-buttons button.btn-done{
  background-color: #5563FF;
  background-image: url(img/check.png);
}

.container .cards .card .card-buttons button.btn-delete{
  background-color: #FF5555;
  background-image: url(img/delete.png);
}

.container .cards .card .card-buttons button.btn-edit{
  background-color: #FFCD55;
  background-image: url(img/edit.png);
}

.container .cards .card .card-buttons button:hover{
  opacity: 50%;
}

.container .cards .card .card-content{
  position: relative;
  top: 10px;
  font-weight: bold;
}

.done{
  text-decoration: line-through;
}
